@media(max-width:2559px){
.IncomeTitle{
    font-size: 50px;
    margin: 25px 0px;
}
.Category{
    margin: 5%;
    width: fit-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: baseline;
    font-Size: 30px;
}
.Icons{
    width: 65px;
    margin-left: 0%;
    justify-content: center;
    align-self:center;
}
.TitleText{
    align-Self: center;
    color: #000000;
    font-Size: 35px;
    font-Weight: 700;
    margin-top: 25px;
}
.Text{
    font-Size: 35px;
    align-Self: center;
    margin-bottom: 2px;
    margin-top: 15px;
}
.chartArea{
    width: 300px;
    justify-Content: center;
    align-Self: center;
}

}
@media(max-width:1440px){
.IncomeTitle{
    font-size: 25px;
    margin: 25px 0px;
}
.Category{
    margin: 5%;
    width: fit-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: baseline;
}
.Icons{
    width: 40px;
    justify-content: center;
    align-self:center;
    margin-left:0%
}
.TitleText{
    text-align: center;
    color: #000000;
    font-Size: 20px;
    font-Weight: 700;
    margin-top: 15px;
}
.Text{
    text-align: center;
    font-size: 20px;
    margin-bottom: 2px;
    margin-top: 15px;
}
.chartArea{
    width: 300px;
    justify-Content: center;
    align-Self: center;
}
}
@media(max-width:768px){
.IncomeTitle{
    font-size: 25px;
    margin: 25px 0px;
}
.Category{
    margin: 5%;
    width: fit-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: baseline;
}
.Icons{
    width: 25px;
    margin-left: 0%;
    justify-content: center;
    align-self:center;
}
.TitleText{
    text-align: center;
    color: #000000;
    font-Size: 18px;
    font-Weight: 700;
    margin-Left: 5px;
    margin-top: 15px;
}
.Text{
    text-align: center;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 15px;
}
.chartArea{
    width: 300px;
    justify-Content: center;
    align-Self: center;
}
}
@media(max-width:425px){
.IncomeTitle{
    font-size: 25px;
    margin: 25px 15px;
}
.Category{
    margin: 3%;
    width: fit-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: baseline;
}
.Icons{
    width: 30px;
    margin-left: 0%;
    justify-content: center;
    align-self:center;
}
.TitleText{
    text-align: center;
    color: #000000;
    font-Size: 14px;
    font-Weight: 700;
    margin-Left: 5px;
    margin-top: 15px;
}
.Text{
    text-align: center;
    font-size: 14px;
    margin-bottom: 2px;
    margin-top: 15px;
}
.chartArea{
    width: 300px;
    justify-Content: center;
    align-Self: center;
}
}
@media(max-width:320px){
.IncomeTitle{
    font-size: 25px;
    margin: 25px 0px;
}
.Category{
    margin: 3%;
    width: fit-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: baseline;
}
.Icons{
    width: 30px;
    margin-left: 0%;
    justify-content: center;
    align-self:center;
}
.TitleText{
    text-align: center;
    color: #000000;
    font-Size: 14px;
    font-Weight: 700;
    margin-Left: 5px;
    margin-top: 15px;
}
.Text{
    text-align: center;
    font-size: 12px;
    margin-bottom: 2px;
    margin-top: 15px;
}
.chartArea{
    width: 300px;
    justify-Content: center;
    align-Self: center;
}
}

@media(min-width:2560px){
.IncomeTitle{
    font-size: 50px;
    margin: 25px 0px;
}
.Category{
    margin: 5%;
    width: fit-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: baseline;
    font-Size: 30px;
}
.Icons{
    width: 65px;
     margin-left: 0%;
    justify-content: center;
    align-self:center;
}
.TitleText{
    align-Self: center;
    color: #000000;
    font-Size: 35px;
    font-Weight: 700;
    margin-top: 25px;
}
.Text{
    font-Size: 35px;
    align-Self: center;
    margin-bottom: 2px;
    margin-top: 15px;
}
.chartArea{
    width: 300px;
    justify-Content: center;
    align-Self: center;
}

}