.IncomeTitle{
    font-size: 25px;
    margin: 25px 0px;
}
.Category{
    color: "#ffffff";
    margin: 5%;
    justify-content: center;
    align-self: center;
}
.Icons{
    width: 25px;
}
.TitleText{align-Self: "flex-start";
    color: "#000000";
    font-Size: 16;
    font-Weight: "700";
    margin-Left: 5;
}
.Text{
    align-Self: "center";
    color: "#ffffff";
    margin-bottom: 2px;
    margin-top: 2px;
}

@media(min-width:2560px){
.IncomeTitle{
    font-size: 50px;
    margin: 25px 0px;
}
.Category{
    color: "#ffffff";
    margin: 5%;
    justify-content: center;
    align-self: center;
    font-Size: 30px;
}
.Icons{
    width: 50px;
}
.TitleText{align-Self: "flex-start";
    color: "#000000";
    font-Size: 25px;
    font-Weight: "700";
    margin-Left: 5%;
    margin-top: 15px;
}
.Text{
    font-Size: 25px;
    align-Self: "center";
    color: "#ffffff";
    margin-bottom: 2px;
    margin-top: 2px;
}

}