.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  font-family: Helvetica;
  overflow-x: hidden;
  padding-left: 2%;
  padding-right: 2%;

}
.wrapper{
  margin-top: 30px;
  background-color: #ffffff;
  justify-content: center;
  align-self: center;
  width: 100vw;
  min-height:100vh;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow-x: hidden;
}
.title{
  text-align: start;
  margin-left: 25px;
  }
.h5 {
  text-align: center;
}
.subtitle {
  font-size: 25px;
}
.formBtn{
  margin-top: 20px;
  width: fit-content;
  justify-content: center;
  align-self: center;
  background-color: royalblue;
  border-radius: 5%;
  border: none;
  padding: 2% ;
  font-weight: 700;
  display: flex;
  flex-direction: row;
}
.formBtn:hover{
  background-color: rgba(96, 131, 235, 0.616);
  cursor: pointer;
}