@media (max-width:1440px){
  .container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4083E6,#0645A3);
  font-family: Helvetica;
  overflow-x: hidden;
  padding-left: 2%;
  padding-right: 2%;

}
.wrapper{
  margin-top: 30px;
  background-color: #ffffff;
  justify-content: center;
  align-self: center;
  width: 100vw;
  min-height:100vh;
  padding:5% 2%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow-x: hidden;
  box-shadow: 0px 0px 60px rgba(83, 83, 83, 0.5);
}
.title{
  text-align: start;
  margin-left: 25px;
  z-index: 999;
  }
.h5 {
  text-align: center;
}
.subtitle {
  font-size: 25px;
}
.navbar{
  display: flex;
  margin-Left: 25px;
  width: 50%;
}
.formBtn{
  margin-top: 10px;
  margin-right: auto;
  width: fit-content;
  justify-content: center;
  align-self: center;
  background-color: transparent;
  border-radius: 5%;
  border: none;
  padding: 0.5% 1% ;
  font-weight: 700;
  display: flex;
  flex-direction: row;
}
.formBtn:hover{
  background-color: #4479c9;
  cursor: pointer;
}
.p{
  font-size: 1.25rem;
}
.icons{
  width: 15px;
  margin-Left: 10px;
  justify-Content: center;
  align-Self: center;
}
}
@media (max-width:768px){
  .container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4083E6,#0645A3);
  font-family: Helvetica;
  overflow-x: hidden;
  padding-left: 2%;
  padding-right: 2%;

}
.wrapper{
  margin-top: 50px;
  background-color: #ffffff;
  justify-content: center;
  align-self: center;
  width: 100vw;
  min-height:100vh;
  padding:5% 2%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow-x: hidden;
  box-shadow: 0px 0px 60px rgba(83, 83, 83, 0.5);
}
.title{
  text-align: start;
  width: fit-content;
  margin-Top: 25px;
  margin-left: 25px;
  z-index: 999;
  }
.h5 {
  text-align: center;
}
.navbar{
  display: flex;
  margin-Left: 25px;
  width: 50%;
}
.wrapper .subtitle {
  font-size: 20px;
}
.formBtn{
  margin-top: 10px;
  margin-right: auto;
  width: fit-content;
  justify-content: center;
  align-self: center;
  background-color: transparent;
  border-radius: 5%;
  border: none;
  padding: 0.5% 1% ;
  font-weight: 700;
  display: flex;
  flex-direction: row;
}
.formBtn:hover{
  background-color: #4479c9;
  cursor: pointer;
}
.formBtn .p{
  font-size: 0.75rem;
}
.icons{
  width: 15px;
  margin-Left: 10px;
  justify-Content: center;
  align-Self: center;
}
}
@media (max-width:426px){
  .container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4083E6,#0645A3);
  font-family: Helvetica;
  overflow-x: hidden;
  padding-left: 2%;
  padding-right: 2%;

}
.wrapper{
  margin-top: 60px;
  background-color: #ffffff;
  justify-content: center;
  align-self: center;
  width: 100vw;
  min-height:100vh;
  padding:5% 2%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow-x: hidden;
  box-shadow: 0px 0px 60px rgba(83, 83, 83, 0.5);
}
.title{
  text-align: start;
  margin-left: 25px;
  font-size: 1.5rem;
  z-index: 999;
  }
.h5 {
  text-align: center;
}
.navbar{
  display: flex;
  margin-Left: 25px;
  width: 90%;
}
.subtitle {
  font-size: 25px;
  margin-left: 15px;
}
.formBtn{
  margin-top: 10px;
  margin-right: auto;
  width: fit-content;
  justify-content: center;
  align-self: center;
  background-color: transparent;
  border-radius: 5%;
  border: none;
  padding: 0.5% 1% ;
  font-weight: 700;
  display: flex;
  flex-direction: row;
}
.formBtn:hover{
  background-color: #4479c9;
  cursor: pointer;
}
.p{
  font-size: 14px;
}
.icons{
  width: 15px;
  margin-Left: 10px;
  justify-Content: center;
  align-Self: center;
}
}
@media (min-width:1441px){
  .container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4083E6,#0645A3);
  font-family: Helvetica;
  overflow-x: hidden;
  padding-left: 2%;
  padding-right: 2%;

}
.wrapper{
  margin-top: 30px;
  background-color: #ffffff;
  justify-content: center;
  align-self: center;
  width: 100vw;
  min-height:100vh;
  padding:5% 2%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow-x: hidden;
  box-shadow: 0px 0px 60px rgba(83, 83, 83, 0.5);
}
.title{
  text-align: start;
  margin-left: 50px;
  font-size: 4rem;
  z-index: 999;
  }
.h5 {
  text-align: center;
}
.subtitle {
  font-size:3rem;
}
.navbar{
  display: flex;
  margin-Left: 25px;
  width: 45%;
}
.formBtn{
  margin-top: 10px;
  margin-right: auto;
  width: fit-content;
  justify-content: center;
  align-self: center;
  background-color: transparent;
  border-radius: 5%;
  border: none;
  padding: 0.5% 1% ;
  font-weight: 700;
  display: flex;
  flex-direction: row;
}
.formBtn:hover{
  background-color: #4479c9;
  cursor: pointer;
}
.p{
  font-size: 2.5rem;
}
.icons{
  width: 35px;
  margin-Left: 10px;
  justify-Content: center;
  align-Self: center;
}
}