@media(max-width:2559px){
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4083E6,#0645A3);
  font-family: Helvetica;
}
.title {
  justify-content: center;
  text-align: center;
  font-size: 80px;
}
.logo {
  width: 60%;
}
.logoWrapper{
  text-align: center;
}
.phrase{
  color: #000000;
  text-align: center;
  font-size: 50px;
}
.linkBtnWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
}
.linkBtn {
  padding: 2% 5%;
  background-color: #266BD1;
  width: 300px;
  text-align: center;
  margin: 0% 5%;
  border-radius: 5px;
  font-weight: 700;
  font-size: 40px;
  color: #000000;
  box-shadow: 0px 5px 10px rgba(95, 95, 95, 0.3);
}
.linkBtn:hover {
  background-color: rgb(44, 94, 204);
}
.copyright{
  font-size: 30px;
}
}
@media(max-width:1440px){
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4083E6,#0645A3);
  font-family: Helvetica;
}
.title {
  justify-content: center;
  text-align: center;
  font-size: 50px;
}
.logo {
  width: 40%;
}
.logoWrapper{
  text-align: center;
}
.phrase{
  color: #000000;
  text-align: center;
  font-size: 1.5rem;
}
.linkBtnWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
}
.linkBtn {
  padding: 2%;
  background-color: #266BD1;
  width: 150px;
  text-align: center;
  font-size: 20px;
  margin: 0% 5%;
  border-radius: 5px;
  font-weight: 700;
  color: #000000;
  box-shadow: 0px 5px 10px rgba(95, 95, 95, 0.3);
}
.linkBtn:hover {
  background-color: rgb(44, 94, 204);
}
.copyright{
  margin-top: 50px;
  font-size: 18px;
}
}
@media(max-width:768px){
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4083E6,#0645A3);
  font-family: Helvetica;
}
.title {
  justify-content: center;
  text-align: center;
  font-size: 50px;
}
.logo {
  width: 55%;
}
.logoWrapper{
  text-align: center;
}
.phrase{
  color: #000000;
  text-align: center;
  font-size: 2rem;
}
.linkBtnWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
}
.linkBtn {
  padding: 2%;
  background-color: #266BD1;
  width: 150px;
  text-align: center;
  font-size: 24px;
  margin: 0% 5%;
  border-radius: 5px;
  font-weight: 700;
  color: #000000;
  box-shadow: 0px 5px 10px rgba(95, 95, 95, 0.3);
}
.linkBtn:hover {
  background-color: rgb(44, 94, 204);
}
}
@media(max-width:425px){
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4083E6,#0645A3);
  font-family: Helvetica;
}
.title {
  justify-content: center;
  text-align: center;
  font-size: 30px;
}
.logo {
  width: 40%;
}
.logoWrapper{
  text-align: center;
}
.phrase{
  color: #000000;
  text-align: center;
  font-size: 1rem;
}
.linkBtnWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
}
.linkBtn {
  padding: 2%;
  background-color: #266BD1;
  width: 100px;
  text-align: center;
  font-size: 16px;
  margin: 0% 5%;
  border-radius: 5px;
  font-weight: 700;
  color: #000000;
  box-shadow: 0px 5px 10px rgba(95, 95, 95, 0.3);
}
.linkBtn:hover {
  background-color: rgb(44, 94, 204);
}
.copyright{
  font-size: 14px;
}
}
@media(min-width:2560px){
  .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4083E6,#0645A3);
  font-family: Helvetica;
}
.title {
  justify-content: center;
  text-align: center;
  font-size: 90px;
}
.logo {
  width: 80%;
}
.logoWrapper{
  text-align: center;
}
.phrase{
  color: #000000;
  text-align: center;
  font-size: 50px;
}
.linkBtnWrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
}
.linkBtn {
  padding: 2% 5%;
  background-color: #266BD1;
  width: 300px;
  text-align: center;
  margin: 0% 5%;
  border-radius: 5px;
  font-weight: 700;
  font-size: 40px;
  color: #000000;
  box-shadow: 0px 5px 10px rgba(95, 95, 95, 0.3);
}
.linkBtn:hover {
  background-color: rgb(44, 94, 204);
}
.copyright{
  font-size: 30px;
}
}