@media (max-width: 2559px){
  .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4083E6,#0645A3);
  font-family: Helvetica;
}
  .title {
  text-align: center;
  color: #ffffff;
  margin-top: 5%;
  margin-bottom: 20%;
  font-size: 70px;
}
.Form{
  background-color: #99b4ff6b;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  backdrop-filter: blur(2px);
  padding: 5%;
  height: 600px;
  width: 680px;
}
.formLabel{
  display: block;
  margin: 2%;
  font-weight: 600;
  font-size: 35px;
}
.formInput{
  font-size: 30px;
  display: block;
  margin: 6% 4%;
  padding: 5%;
  border-top: none; 
  border-left: none;
  border-right: none;
  border-radius: 5px;
  height: 18px;
  background-color: none;
}
.formBtn{
  margin-top: 40px;
  width: fit-content;
  justify-content: center;
  align-self: center;
  background-color: #4083E6;
  border-radius: 5%;
  border: none;
  padding: 4% 15%;
  font-weight: 700;
  font-size: 30px;
}
.formBtn:hover{
  background-color: rgba(65, 105, 225, 0.616);
  cursor: pointer;
}
}
@media (max-width: 1440px){
  .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4083E6,#0645A3);
  font-family: Helvetica;
}
.title {
  text-align: center;
  color: #ffffff;
  margin-top: 5%;
  margin-bottom: 20%;
  font-size: 40px;
}
.Form{
  background-color: #99b4ff6b;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  backdrop-filter: blur(2px);
  padding: 5%;
  height: 320px;
  width: 350px;
}
.formLabel{
  display: block;
  margin: 2%;
  font-weight: 600;
  font-size: 20px;
}
.formInput{
  font-size: 18px;
  display: block;
  margin: 6% 4%;
  padding: 5%;
  border-top: none; 
  border-left: none;
  border-right: none;
  border-radius: 5px;
  height: 18px;
  background-color: none;
}
.formBtn{
  margin-top: 20px;
  width: fit-content;
  justify-content: center;
  align-self: center;
  background-color: #4083E6;
  border-radius: 5%;
  border: none;
  padding: 4% 15%;
  font-weight: 700;
  font-size: 16px;
}
.formBtn:hover{
  background-color: rgba(65, 105, 225, 0.616);
  cursor: pointer;
}
}
@media (max-width: 769px){
  .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4083E6,#0645A3);
  font-family: Helvetica;
}
  .title {
  text-align: center;
  color: #ffffff;
  margin-top: 5%;
  margin-bottom: 20%;
  font-size: 40px;
}
.Form{
  background-color: #99b4ff6b;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  backdrop-filter: blur(2px);
  padding: 5%;
  height: 300px;
  width: 350px;
}
.formLabel{
  display: block;
  margin: 2%;
  font-weight: 600;
  font-size: 20px;
}
.formInput{
  font-size: 16px;
  display: block;
  margin: 4% 2%;
  padding: 5%;
  border-top: none; 
  border-left: none;
  border-right: none;
  border-radius: 5px;
  height: 25px;
  background-color: none;
}
.formBtn{
  margin-top: 40px;
  width: fit-content;
  justify-content: center;
  align-self: center;
  background-color: #4083E6;
  border-radius: 5%;
  border: none;
  padding: 4% 15%;
  font-weight: 700;
}
.formBtn:hover{
  background-color: rgba(65, 105, 225, 0.616);
  cursor: pointer;
}
}
@media (max-width: 425px){
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4083E6,#0645A3);
  font-family: Helvetica;
}
.title {
  text-align: center;
  color: #ffffff;
  width: 90%;
  margin-top: -5%;
  margin-bottom: 15%;
  margin-left: 5%;
}
.Form{
  background-color: #99b4ff6b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  border-radius: 5px;
  backdrop-filter: blur(2px);
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  width: 300px;
}
.formLabel{
  display: block;
  margin: 2%;
  font-weight: 600;
  font-size: 16px;
}
.formInput{
  display: block;
  margin: 6% 4%;
  padding: 7%;
  border-top: none; 
  border-left: none;
  border-right: none;
  border-radius: 5px;
  height: 25px;
  background-color: none;
  font-size: 14px;
}
.formBtn{
  margin-top: 30px;
  width: fit-content;
  justify-content: center;
  align-self: center;
  background-color: #4083E6;
  border-radius: 5%;
  border: none;
  padding: 6% 25%;
  font-weight: 700;
}
.formBtn:hover{
  background-color: rgba(65, 105, 225, 0.616);
  cursor: pointer;
}
}
@media (min-width: 2560px){
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4083E6,#0645A3);
  font-family: Helvetica;
}
.title {
  text-align: center;
  color: #ffffff;
  margin-top: 5%;
  margin-bottom: 20%;
  font-size: 80px;
}
.Form{
  background-color: #99b4ff6b;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  backdrop-filter: blur(2px);
  padding: 10%;
  height: 800px;
  width: 800px;
}
.formLabel{
  display: block;
  margin: 2%;
  font-weight: 600;
  font-size: 46px;
}
.formInput{
  font-size: 38px;
  display: block;
  margin: 6% 2%;
  padding: 6%;
  border-top: none; 
  border-left: none;
  border-right: none;
  border-radius: 5px;
  height: 25px;
  background-color: none;
}
.formBtn{
  margin-top: 100px;
  width: fit-content;
  justify-content: center;
  align-self: center;
  background-color: #4083E6;
  border-radius: 10%;
  border: none;
  padding: 6% 18%;
  font-weight: 700;
  font-size: 40px;
}
.formBtn:hover{
  background-color: rgba(65, 105, 225, 0.616);
  cursor: pointer;
}
}