@media (max-width: 768px){
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  font-family: Helvetica;
}
.title {
  text-align: center;
  color: #ffffff;
  margin-top: 5%;
  margin-bottom: 20%;
}
.Form{
  background-color: #99b4ff6b;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  backdrop-filter: blur(2px);
  padding: 5%;
  height: 350px;
}
.formLabel{
  display: block;
  margin: 2%;
  font-weight: 600;
}
.formInput{
  display: block;
  margin: 6% 4%;
  padding: 7%;
  border-top: none; 
  border-left: none;
  border-right: none;
  border-radius: 5px;
  height: 25px;
  background-color: none;
}
.formBtn{
  margin-top: 40px;
  width: fit-content;
  justify-content: center;
  align-self: center;
  background-color: royalblue;
  border-radius: 5%;
  border: none;
  padding: 7% 10%;
  font-weight: 700;
}
.formBtn:hover{
  background-color: rgba(65, 105, 225, 0.616);
  cursor: pointer;
}
}
@media (min-width: 769px){
  .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  font-family: Helvetica;
}
  .title {
  text-align: center;
  color: #ffffff;
  margin-top: 5%;
  margin-bottom: 20%;
  font-size: 40px;
}
.Form{
  background-color: #99b4ff6b;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  backdrop-filter: blur(2px);
  padding: 5%;
  height: 500px;
  width: 400px;
}
.formLabel{
  display: block;
  margin: 2%;
  font-weight: 600;
  font-size: 24px;
}
.formInput{
  font-size: 24px;
  display: block;
  margin: 6% 4%;
  padding: 7%;
  border-top: none; 
  border-left: none;
  border-right: none;
  border-radius: 5px;
  height: 25px;
  background-color: none;
}
.formBtn{
  margin-top: 60px;
  width: fit-content;
  justify-content: center;
  align-self: center;
  background-color: royalblue;
  border-radius: 5%;
  border: none;
  padding: 7% 10%;
  font-weight: 700;
}
.formBtn:hover{
  background-color: rgba(65, 105, 225, 0.616);
  cursor: pointer;
}
}
@media (min-width: 2560px){
  .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  font-family: Helvetica;
}
  .title {
  text-align: center;
  color: #ffffff;
  margin-top: 5%;
  margin-bottom: 20%;
  font-size: 80px;
}
.Form{
  background-color: #99b4ff6b;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  backdrop-filter: blur(2px);
  padding: 10%;
  height: 1000px;
  width: 800px;
}
.formLabel{
  display: block;
  margin: 2%;
  font-weight: 600;
  font-size: 50px;
}
.formInput{
  font-size: 40px;
  display: block;
  margin: 6% 4%;
  padding: 7%;
  border-top: none; 
  border-left: none;
  border-right: none;
  border-radius: 5px;
  height: 25px;
  background-color: none;
}
.formBtn{
  margin-top: 100px;
  width: fit-content;
  justify-content: center;
  align-self: center;
  background-color: royalblue;
  border-radius: 10%;
  border: none;
  padding: 7% 10%;
  font-weight: 700;
  font-size: 40px;
}
.formBtn:hover{
  background-color: rgba(65, 105, 225, 0.616);
  cursor: pointer;
}
}