.navbar {
  background-color: #3f7edd;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}
.title{
  text-align: start;
  font-size: 1.5rem;
}
.navContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.navlogo {
  color: #f5b921;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
}

.navMenu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}
.navMenuActive {
  background-color: #4083E6;
  height:fit-content;
  width:150%;
  margin-left: -45px;
  margin-Top: 450px;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
  list-style: none;
}

.navLinks {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
  cursor:pointer;
}
.fa-code {
  margin-left: 1rem;
}

.navItem {
  line-height: 40px;
  margin-right: 1rem;
}

.navItem:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.navItem:hover:after {
  width: 100%;
  background: #0c4cc4;
}

.navItem .active {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.navIcon {
  display: none;
}
.icons{
  width: 15px;
  margin-Left: 10px;
  justify-Content: center;
  align-Self: center;
}

@media screen and (max-width: 426px) {
  .navMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navMenu .active {
    background: #4083E6;
    height:fit-content;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .navItem .active {
    color: #1b3edb;
    border: none;
  }
  .navLinks {
    padding: 1.5rem;
    width: 100%;
    display: table;
    cursor:pointer;
  }

  .navIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffffff;
  }
  .title{
  text-align: start;
  margin-left: -150px;
  font-size: 1.5rem;
}
}