@media (max-width: 2559px){
  .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4083E6,#0645A3);
  font-family: Helvetica;
}
.title {
  text-align: center;
  color: #ffffff;
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 60px;
}
.Form{
  background-color: #99b4ff6b;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  backdrop-filter: blur(2px);
  padding: 5%;
  height: 800px;
  width: 600px;
}
.formLabel{
  display: block;
  margin: 2%;
  font-weight: 600;
  font-size: 30px;
}
.formInput{
  font-size: 28px;
  display: block;
  margin: 4% 2%;
  padding: 5%;
  border-top: none; 
  border-left: none;
  border-right: none;
  border-radius: 5px;
  height: 25px;
  background-color: none;
}
.formBtn{
  margin-top: 25px;
  width: fit-content;
  justify-content: center;
  align-self: center;
  background-color: #4083E6;
  border-radius: 5%;
  border: none;
  padding: 4% 15%;
  font-weight: 700;
  font-size: 28px;
}
.formBtn:hover{
  background-color: rgba(65, 105, 225, 0.616);
  cursor: pointer;
}
}
@media (max-width: 1440px){
  .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4083E6,#0645A3);
  font-family: Helvetica;
}
.title {
  text-align: center;
  color: #ffffff;
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 40px;
}
.Form{
  background-color: #99b4ff6b;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  backdrop-filter: blur(2px);
  padding: 5%;
  height: 480px;
  width: 400px;
}
.formLabel{
  display: block;
  margin: 2%;
  font-weight: 600;
  font-size: 16px;
}
.formInput{
  font-size: 14px;
  display: block;
  margin: 4% 2%;
  padding: 4%;
  border-top: none; 
  border-left: none;
  border-right: none;
  border-radius: 5px;
  height: 25px;
  background-color: none;
}
.formBtn{
  margin-top: 20px;
  width: fit-content;
  justify-content: center;
  align-self: center;
  background-color: #4083E6;
  border-radius: 5%;
  border: none;
  padding: 4% 15%;
  font-weight: 700;
  font-size: 14px;
}
.formBtn:hover{
  background-color: rgba(65, 105, 225, 0.616);
  cursor: pointer;
}
}
@media (max-width: 768px){
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4083E6,#0645A3);
  font-family: Helvetica;
}
.title {
  text-align: center;
  color: #ffffff;
  margin-top: 5%;
  margin-bottom: 10%;
}
.Form{
  background-color: #99b4ff6b;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  backdrop-filter: blur(2px);
  padding: 5%;
  height: fit-content;
  width: 500px;
}
.formLabel{
  display: block;
  margin: 2%;
  font-weight: 600;
  font-size: 16px;
}
.formInput{
  font-size: 16px;
  display: block;
  margin: 4% 1%;
  padding: 5%;
  border-top: none; 
  border-left: none;
  border-right: none;
  border-radius: 5px;
  height: 25px;
  background-color: none;
}
.formBtn{
  margin-top: 40px;
  width: fit-content;
  justify-content: center;
  align-self: center;
  background-color: #4083E6;
  border-radius: 5%;
  border: none;
  padding: 4% 15%;
  font-weight: 700;
}
.formBtn:hover{
  background-color: rgba(65, 105, 225, 0.616);
  cursor: pointer;
}
}
@media (max-width: 425px){
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4083E6,#0645A3);
  font-family: Helvetica;
}
.title {
  text-align: center;
  color: #ffffff;
  margin-top: 5%;
  margin-bottom: 10%;
}
.Form{
  background-color: #99b4ff6b;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  backdrop-filter: blur(2px);
  padding: 5%;
  height: fit-content;
  width: 95%;
  margin: 0% 3%;
}
.formLabel{
  display: block;
  margin: 2%;
  font-weight: 600;
  font-size: 14px;
}
.formInput{
  font-size: 14px;
  display: block;
  margin: 4% 2%;
  padding: 6%;
  border-top: none; 
  border-left: none;
  border-right: none;
  border-radius: 5px;
  height: 25px;
  background-color: none;
}
.formBtn{
  margin-top: 25px;
  width: fit-content;
  justify-content: center;
  align-self: center;
  background-color: #4083E6;
  border-radius: 5%;
  border: none;
  padding: 7% 15%;
  font-weight: 700;
}
.formBtn:hover{
  background-color: rgba(65, 105, 225, 0.616);
  cursor: pointer;
}
}
@media (min-width: 2560px){
  .container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4083E6,#0645A3);
  font-family: Helvetica;
}
  .title {
  text-align: center;
  color: #ffffff;
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 80px;
}
.Form{
  background-color: #99b4ff6b;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  backdrop-filter: blur(2px);
  padding: 10%;
  height: 1150px;
  width: 800px;
  margin-bottom: 2%;
}
.formLabel{
  display: block;
  margin: 2%;
  font-weight: 600;
  font-size: 40px;
}
.formInput{
  font-size: 40px;
  display: block;
  margin: 4% 2%;
  padding: 7%;
  border-top: none; 
  border-left: none;
  border-right: none;
  border-radius: 5px;
  height: 25px;
  background-color: none;
}
.formBtn{
  margin-top: 70px;
  width: fit-content;
  justify-content: center;
  align-self: center;
  background-color: #99b4ff6b;
  border-radius: 5%;
  border: none;
  padding: 3% 15%;
  font-weight: 700;
  font-size: 40px;
}
.formBtn:hover{
  background-color: rgba(65, 105, 225, 0.616);
  cursor: pointer;
}
}